/**** VARIABLES (Color Palette) ****/
:root {
    --primary-color: #c9ccd1;
    --secondary-color: #42393A;
    --tertiary-color: #bbbbbb;
    --quaternary-color: #e6ad18;
    --off-white: #e8e8e8;
}


/***** HTML *****/
* {
    margin: 0;
    padding: 0;
    border: 0;
}


/**** TYPOGRAPHY/FONTS *****/
h1,
h2 {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto-Light.ttf');
}

h3,
h4,
h5,
p {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto-Regular.ttf');
}

h1 {
    font-size: 6.022em;
}

h2 {
    font-size: 3.764em;
}

h3 {
    font-size: 3.011em;
}

h4 {
    font-size: 2.133em;
}

h5 {
    font-size: 1.506em;
}

h6 {
    font-family: 'Roboto-Medium';
    src: url('/fonts/Roboto-Medium.ttf');
    font-size: 1.255em;
    padding: 0.3em 1.0em;
}

p {
    font-size: 1.0em;
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}


/***** BODY *****/
body {
    width: 100%;
    margin: 0 auto;
    background: var(--primary-color);
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
}


/***** CONTAINER *****/
div#container {
    width: 96%;
    background: var(--off-white);
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: rgba(66,57,58,0.4) 4px 4px 4px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


/***** HEADER *****/
header {
    width: 100%;
    background: var(--secondary-color);

    display: flex;
    flex-flow: row wrap;
}

header section.title_area {
    color: var(--primary-color);
    padding: 0.0em 0.5em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

header section.title_area h1 {
    display: flex;
    flex-flow: row wrap;
}

header section.title_area h4 {
    padding-bottom: 0.4em;
} 

header section.login_area {
    align-self: center;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

header section.login_area h5 {
    grid-row: 1;
    grid-column: 1;
    color: grey;
}

header section.login_area h6.access_level {
    grid-row: 2;
    grid-column: 1;
    color: gray;
}

header section.login_area h6.timestamp {
    grid-row: 3;
    grid-column: 1;
}

header section.login_area img {
    grid-row: 1 / span 3;
    grid-column: 2;
    width: 100px;
    height: auto;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 0.3em;
}


/*** NAV ***/
nav {
    grid-row: 2;
    grid-column: 1 / span 3;
    width: 100%;
    background: linear-gradient(var(--secondary-color) 50%, var(--off-white) 50%);
    padding: 1em 0em;
    
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    align-items: center;
}

nav ol {
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(to top, var(--tertiary-color), white);
    border-radius: 10px;
    box-shadow: rgba(66,57,58,0.4) 4px 4px 4px;
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

nav ol li {
    padding: 0.4em 0;
}

nav ol li a {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

nav ol li a img {
    width: 32px;
}


/***** ASIDE (SUBNAV) *****/
aside {
    width: 100%;
    background: inherit;

    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0;
}

aside ol {
    list-style: none;
    width: 96%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

aside ol li a {
    width: 100px;
    height: 100px;
    align-self: center;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    margin: 1em;
    padding: 0.5em;
    box-shadow: rgba(66,57,58,0.4) 4px 4px 4px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

aside ol li a p {
    text-align: center;
    padding-top: 0.4em;
}

aside ol li a img {
    width: 50%
}


/***** MAIN *****/
main {
    width: 100%;
    background: inherit;
    padding: 1.0em 0;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(162px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(408px, 1fr));
    gap: 1.2em;
    justify-items: center;
    align-items: start;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

main section {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: rgba(66,57,58,0.4) 4px 4px 4px;
    margin: 1.0em;
}

main section h6 {
    background: var(--secondary-color);
    color: var(--primary-color);
}

main li p {
    padding: 0.4em;
}

/*** SECTION: Monthly Stats ***/
main section.monthly-stats h6 {
    grid-row: 1;
    grid-column: 1 / span 2;
}

main section.monthly-stats ul {
    list-style: none;
}

main section.monthly-stats ul li:nth-child(4n-3),
main section.monthly-stats ul li:nth-child(4n-2) {
    background: var(--primary-color);
}

main section.monthly-stats ul.col1 {
    grid-row: 2;
    grid-column: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
}

main section.monthly-stats ul.col2 {
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
}

main section.monthly-stats ul.col1 li,
main section.monthly-stats ul.col2 li {
    width: 100%;
}

/*** SECTION: Stats Current Year ***/
main section.stats-current-year {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
}

main section.stats-current-year h6 {
    grid-row: 1;
    grid-column: 1 / span 2;
}

main section.stats-current-year ul {
    list-style: none;

    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: start;
    align-items: center;
}

main section.stats-current-year ul li {
    width: 100%;
}

main section.stats-current-year ul li:nth-child(4n-3),
main section.stats-current-year ul li:nth-child(4n-2) {
    background: var(--primary-color);
}

main section.outstanding-invoices {
    grid-row: 2;
    grid-column: 1 /  span 2;
    min-width: 328px;
    width: 100%;
}

/*** SECTION: Outstanding Invoices ***/
main section.outstanding-invoices ul {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
    justify-items: center;
    align-items: center;
}

main section.outstanding-invoices ul li p {
    overflow: hidden;
}

main section.outstanding-invoices ul.ul-lines:nth-child(odd) {
    background: var(--primary-color);
}

main section.outstanding-invoices ul li {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main section.outstanding-invoices ul li img {
    width: 32px;
}

main section.outstanding-invoices ul li a img {
    width: 32px;
    padding: 0.2em 0;
    margin: 0 auto;
    display: block;
}

main section.outstanding-invoices ul li input {
    justify-self: center;
    align-self: center;
}

/***** FOOTER *****/
footer {
    width: 100%;
    background: var(--secondary-color);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
}

footer p {
    color: var(--tertiary-color);
    padding: 1.0em 1.0em;

    
}

footer p:last-child {
    justify-self: end;
}

footer p a,
footer p a:link,
footer p a:visited,
footer p a:hover {
    color: var(--tertiary-color);
}


/***** MISC *****/
.white {
    color: white;
}

.orange {
    color: var(--quaternary-color);
}

.heading {
    font-weight: bold;
    text-decoration: underline;
    padding: 0.4em 0;
}